# Python
__pycache__/
*.pyc
venv/

# Environment
.env

# Debug output
debug/

# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/

# Electron
electron/node_modules/
electron/package-lock.json
